@use "../../themes" as *;

$main-page-color: rgba(61, 78, 203, 0.85);
$background-Input: nb-theme(background-basic-color-2);
$background-Input-2: nb-theme(background-basic-color-3);

@mixin fondo() {
    width: 100%;
    height: fit-content;
    
    display: flex;
    align-items: center;
    justify-content: center;
}


.icon{
    position: relative;
    z-index: 1;
  
}

::ng-deep nb-layout-column {
  height: 80vw;
}

.back{
  background: nb-theme(background-basic-color-3);
}

.icon-bk{
    position: relative;
    display: inline-block;

}

.blinking-light-winner{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  background-color: #6d6dbf62;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  animation: blink-2 2.5s infinite;
  filter: blur(10px); 

}

.margin-right-3{
  margin-right: 3rem;
}


.font-large{
  font-size: 1.1rem;
}


.font-x-large{
  font-size: 1.4rem;
}

.row-space-between{
  display: flex;
  justify-content: space-between;
}

.width-50-25{
  min-width: 25%;
  max-width: 50%;
}

.blinking-light {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 87%;
    background-color: #6060b71c;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    animation: blink 9s infinite;
    filter: blur(10px); 
  }
  
  @keyframes blink {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  @keyframes blink-2 {
    0%, 100% {
      opacity: 0.8;
    }
    50% {
      opacity: 1;
    }
  }